body {
    display: flex;
    justify-content: center;
}
.slider {
    display: flex;
    justify-content: center;
    width: 1110px;   
}

#imgBox{
    display: flex;
    justify-content: center;
    width: 1110px; 
    position: relative;
}

.default{
    margin:0 5px;
    width: 100px;
    height: 100px;
    display:none;
    box-shadow: 0px 8px 20px #000;
    border-radius: 7px;
    position:absolute;
}
.pos3{
    width: 300px !important;
    height: 270px !important;
    display: block !important;
    z-index: 5 !important;
    /* position: relative !important; */
}
.pos2{
    width: 250px !important;
    height: 220px !important;
    display: block !important;
    margin-top: 20px !important;
    margin-right: -30px !important;
    z-index: 3 !important;
    /* position: relative !important; */
    left: 145px;
}
.pos4{
    width: 250px !important;
    height: 220px !important;
    display: block !important;
    margin-top: 20px !important;
    margin-left: -30px !important;
    z-index: 4 !important;
    /* position: relative !important; */
    right:145px
}
.pos1{
    width: 200px !important;
    height: 170px !important;
    display: block !important;
    margin-top: 50px !important;
    margin-right: -30px !important;
    z-index: 0 !important;
    /* position: relative !important; */
    left: -10px;

}
.pos5{
    width: 200px !important;
    height: 170px !important;
    display: block !important;
    margin-top: 50px !important;
    margin-left: -30px !important;
    z-index: 0 !important;
    /* position: relative !important; */
    right:-10px
}

#arrowRight{
    background:url("./image/arrow.svg") no-repeat center #e1e1e1;
    width: 60px;
    height: 280px;
    border: none;
    position: relative;
    top: 0;
    right: -10px;
    border-radius: 5px;
}
#arrowRight:hover{
    background:url("./image/arrow.svg") no-repeat center #aaa;
}
#arrowLeft{
    background:url("./image/arrow.svg") no-repeat center #e1e1e1;
    transform: rotate(180deg);
    width: 60px;
    height: 280px;
    border: none;
    position: relative;
    top: 0;
    left: -29px;
    border-radius: 5px;
}
#arrowLeft:hover{
    background:url("./image/arrow.svg") no-repeat center #aaa;
}
.arrow{
    width: 40px;
    height: 280px;
}


